aiogram
alembic
itsdangerous
sqlalchemy
pymysql
python-multipart
sqlalchemy-utils
urlextract
aiomysql
jinja2
typing~=3.7.4.3
asyncio~=3.4.3
pydantic
pydub
moviepy
pillow==9.5.0
xlsxwriter
ffmpeg
ffprobe
cryptography
proglog
telebot
