aiogram
alembic
itsdangerous
sqlalchemy
pymysql
psycopg2==2.9.7
python-multipart
sqlalchemy-utils
urlextract
aiomysql
jinja2
asyncpg
typing~=3.7.4.3
asyncio~=3.4.3
pydantic
pydub
moviepy
pillow
xlsxwriter
ffmpeg
ffprobe